MODEL_PATH=./models/26n-c/best.pt # jika production isi dengan versi terbaru
VIDEO_PATH=./videos/video1.mp4 # bisa pakai URL camera (production)
TARGET_FPS=10
PARKING_LABEL=001
PARKING_POSITION=200,200|400,200|400,400|200,400
# dibawah ini untuk stream development
WEB_STREAM=1 # jika ingin menyalakan web stream (hanya untuk development)
WEB_STREAM_PORT=8080 # isi dengan port webstream yang akan dipakai
# dibawah ini untuk stream production
VIDEO_OUTPUT=rtsp://mediamtx:8554/001
VIDEO_OUTPUT_FPS=10
VIDEO_OUTPUT_STREAM=1
DATA_TARGET_URL=http://x.x.x.x/api/autoblock?api_key=Authorization&api_key_value=Token ajfdlajdfjadkfjal
